.admin-article-title {
  margin: 30px auto;
}

.d-flex {  
  th:nth-child(1) {
    width: 10%;
  }
  th:nth-child(2) {
    width: 35%;
  }
  th:nth-child(3) {
    width: 8%;
  }
  th:nth-child(4) {
    width: 15%;
  }
  th:nth-child(5) {
    width: 15%;
  }
  th:nth-child(6) {
    position: relative;
    width: 5%;
    padding: 0;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
    }
  }
  th:nth-child(7) {
    width: 6%;
  }
  th:nth-child(8) {
    width: 6%
  }

  td:nth-child(1) {
    width: 10%;
  }
  td:nth-child(2) {
    width: 35%;
  }
  td:nth-child(3) {
    width: 8%;
  }
  td:nth-child(4) {
    width: 15%;
  }
  td:nth-child(5) {
    width: 15%;
  }
  td:nth-child(6) {
    width: 5%;
  }

  td:nth-child(7) {
    width: 6%;
  }
  td:nth-child(8) {
    width: 6%;
  }
}

.admin-article-image {
  width: 100%;
}