<div class="d-flex align-items-center top-margin-sm article-title">
  <h1 class="article-title-index">記事一覧</h1>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<ul class="flex-display flex-article-index">
  <% @articles.each do |article| %>
    <li>
      <%= render article %>
    </li>
  <% end %>
</ul>

<!-- <%= javascript_pack_tag 'articles/index', 'data-turbolinks-track': 'reload' %> -->
