<div class="d-flex align-items-center top-margin-sm article-title">
  <h1 class="article-title-index">
    <% if @articles.count == 0 %>
      対象の記事はありません
    <% else %>
      <%= t('.article-list') %>
    <% end %>
  </h1>
</div>
<ul class="d-flex flex-article-index">
  <% @articles.each do |article| %>
    <li>
      <%= render article %>
    </li>
  <% end %>
</ul>
<% if @pagy.vars[:count] > 6 %>
  <div class="d-flex justify-content-center mb-2">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
