<div class="d-flex align-items-center top-margin-sm article-title">
  <h1 class="article-title-index">記事一覧</h1>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<ul class="d-flex flex-article-index">
  <% @articles.each do |article| %>
    <li>
      <%= render article %>
    </li>
  <% end %>
</ul>
<% if @pagy.vars[:count] > 6 %>
  <div class="d-flex justify-content-center mb-2">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
