<div class="d-flex align-items-center top-margin-sm news-title news-title-detail">
  <h1>記事詳細</h1>
  <%= link_to '編集', edit_news_path(@news), class:'btn btn-outline-dark news-edit-link' %>
</div>
<div class="container news-container-detail">
  <h4 class="news-detail-header"><%= @news.title %></h4>
  <div class="news-detail-content">
    <div class="news-image-wrapper">
      <%= image_tag 'noimage.jpg', class: "news-content-image"%>
    </div>
    <div class="news-content-text">
      <%= simple_format(@news.content) %>
    </div>
  </div>
</div>