@import 'components';


$lightgreen: lightgreen;
$blue: #0000ff;
$deepskyblue: #00bfff;
$brown: #a52a2a;
$red: red;
$yellow: yellow;



ul {
  list-style: none;
}

.inline-display {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.delete-link {
  margin-left: 20px;
  min-width: 80px;
}
.back-btn {
  float: right;
  margin-left: auto;
  min-width: 80px;
}
.custom-nav-bar-wrapper {
  @media (max-width: 991px) {
    padding: 0.5rem 0;
  }

  .custom-nav-bar {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem 0.5rem 0;
  
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.all-nothing {
  border: none;
  background: none;
}

.left-margin-5 {
  margin-left: 5px;
}