@import 'components';


$lightgreen: lightgreen;
$blue: #0000ff;
$deepskyblue: #00bfff;
$brown: #a52a2a;
$red: red;
$yellow: yellow;



ul {
  list-style: none;
}

.flex-display {
  display: flex;
}

.inline-display {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.edit-link {
  margin-left: auto;
  min-width: 80px;
}