.top-margin-sm {
  margin-top: 10px;
}

.flex-article {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  
  >li {
    margin-bottom: 20px;
    overflow: hidden;
  }
}

.article-title {
  margin-bottom: 10px;

  &.article-title-detail {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 30px;
  }

  > h1 {
    margin: 10px 0;
  }

  > .article-title-index {
      margin: 10px auto;
  }

  h2 {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  .display-inline {
    padding-left: 10px;
  }

  .article-edit-btn {
    margin-left: auto;
    min-width: 80px;
  }
}

.article-link {
  &:hover {
    text-decoration: none;
  }

  .article-image {
    width: 100%;
    height: 180px;
    padding: 0 40px;
    margin-top: 30px;
  }

  .article-content {
    text-decoration: none;
    color: black;
  }
}

.article-container-detail {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 10px 30px 30px 30px;
  background-color: whitesmoke;

  @media (max-width: 767px) {
    padding: 10px;
  }

  .article-detail-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-right: 80px;

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  .article-detail-content {
    width: 100%;
    display: flex;
    
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  
  .article-image-wrapper {
    max-width: 400px;
    max-height: 800px;
    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  .article-content-image {
    width: 100%;
    height: 100%;
  }
  .article-content-text {
    padding: 10px;
    margin-left: 40px;
    width: 100%;
    background-color: white;
    font-size: 1.2rem;

    @media (max-width: 767px) {
      margin: 10px auto;
    }
  }
}

.file-field-container {
  margin-left: 30px;
  background-color: whitesmoke;
}

#image-preview-wrapper {
  display: none;
}

.article-preview-container {
  max-width: 400px;
  max-height: 800px;
  padding: 30px;
  background-color: whitesmoke;
  margin: 10px;

  
  .article-preview {
    width: 100%;
  }
}
.search_form {
  margin: 10px;
  padding: 2px;
  background: cornsilk;
}